body {
	margin:0;
	color:#edf3ff;
	/* background:url(https://www.topandaimes.com/imagens-banner/banner1.jpg) fixed no-repeat !important;	 */
  /* background-image: url(https://www.topandaimes.com/imagens-banner/banner1.jpg); */
  background-size: cover;
	font:600 16px/18px 'Open Sans',sans-serif;
  width: 100%;
}

.font-laranja{
	color: #f4821e !important;
}

.bg-laranja{
	background-color: #f4821e !important;
	border-color: transparent;
}

.bg-verde{
	background-color: #62856c !important;
}

body::-webkit-scrollbar {
    width: 10px;
	height: 10px; /* Largura da barra de rolagem */
}

body::-webkit-scrollbar-thumb {
    background-color: #f4821e; /* Cor do indicador da barra de rolagem */
    border-radius: 2px; /* Raio das bordas do indicador */
}

body::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor de fundo da barra de rolagem */
}

#andprincipal{
	background-color: #1b4025a6;
    overflow-x: auto;
    border-radius: 20px;
    width: 110%;
}

/*BARRA DE ROLAGEM ANDAIMES A SEREM SINCRONIZADOS*/
#andprincipal::-webkit-scrollbar {
    width: 1px;
	height: 10px; /* Largura da barra de rolagem */
}

#andprincipal::-webkit-scrollbar-thumb {
    background-color: #f4821e; /* Cor do indicador da barra de rolagem */
    border-radius: 2px; /* Raio das bordas do indicador */
}

#andprincipal::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor de fundo da barra de rolagem */
}

.main-panel {
	background-color: #b7b0b0;
    margin-left: -235px;
}
.sidebar-icon-only .main-panel {
	width: 100% !important;
}
.verdetop {
    background-color: #82b781;
}
.verdetop2{
	color: #82b781 !important;
}
/*DASHBOARD*/
.display-1 {
    font-size: 2rem !important;
    font-weight: 300 !important;
    line-height: 1.1 !important;
}


#bodyauxiliar{
	margin: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: #f0f0f0;
  }


:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width: 100%;
    margin: auto;
    max-width: 100%;
    position: absolute;
    /* background: url(https://maxcdn.icons8.com/app/uploads/2016/03/material-1-1000x563.jpg) no-repeat center; */
    background-size: cover;
    /*box-shadow: -1px 0px 11px 0 rgb(181 193 181), 1px 1px 18px 0 rgb(59 55 52);*/
    height: 100%;
    margin-left: -15px;
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
}
.login-html .sign-in-htm,
.login-html .for-pwd-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);
	        transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .for-pwd,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .for-pwd:checked + .tab{
	color:#fff;
	border-color:#f4811e;
}
.login-form{
	min-height:345px;
	position:relative;
	-webkit-perspective:1000px;
	        perspective:1000px;
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background: rgb(255 255 255 / 58%);
	color: black;
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#f4811e;
	font-size:12px;
}
.login-form .group .button{
	background:green;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	-webkit-transition:all .2s ease-in-out 0s;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	-webkit-transform:scale(1) rotate(45deg);
	        transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	-webkit-transform:scale(1) rotate(-45deg);
	        transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .for-pwd + .tab + .login-form .sign-in-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}
.login-html .for-pwd:checked + .tab + .login-form .for-pwd-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:#f4811e;
}
.foot-lnk{
	text-align:center;
}

/*ESTILO LOGIN*/

.logingeral{
	height: 100vh;
	width: 100%;
	display: none;
	transition: 2s;
	margin-left: 10px;
    width: 100%;
    background: linear-gradient(90deg, rgb(255 255 255 / 26%) 0%, rgb(6 6 6 / 67%) 50%);
	margin-left: 0px !important;
}
/*
display: inline-flex;
background: linear-gradient(88deg, #010100 0%, rgb(34 59 36) 35%, rgb(238 243 244 / 35%) 100%);
width: 100%;
margin-left: 0px;
transition: 2s;
*/





#logo2{
	max-width: 100%;
    height: 60px;
    margin: auto;
    vertical-align: middle;
}

.logologin{
	margin-top: 20%;
}

.qrcodelogin{
	bottom: 0;
    position: fixed;
    width: 150px;
    height: 150px;
}

/*ESTILO ANIMAÇÃO LOGIN*/
.cd-headline {
	font-size: 3rem;
	line-height: 1.2;
  }

  @media only screen and (min-width: 100px) {
	.cd-headline {
	  font-size: 1.4rem;
	  font-weight: 300;
	}
  }

  @media only screen and (min-width: 1170px) {
	.cd-headline {
	  font-size: 2.0rem;
	}
  }

  .cd-headline.clip span {
	    display: inline-block;
    padding: 0.2em 0;
    color: #3a8e38;
  }

  .cd-headline.clip .cd-words-wrapper {
	overflow: hidden;
	vertical-align: top;
  }
  
  .cd-headline.clip .cd-words-wrapper::after {
	/* line */
	content: '';
	position: absolute;
	top: 10%;
	right: 0;
	width: 2px;
	height: 70%;
	background-color: #aebcb9;
  }
  
  .cd-headline.clip b {
	opacity: 0;
  }
  
  .cd-headline b.is-visible {
	opacity: 1;
	font-weight: 900;
  }
  
.cd-words-wrapper {
	display: inline-block;
	position: relative;
	text-align: left;
  }
  
  .cd-words-wrapper b {
	display: inline-block;
	position: absolute;
	white-space: nowrap;
	left: 0;
	top: 0;
  }
  
  .cd-words-wrapper b.is-visible {
	position: relative;
  }
  
  .no-js .cd-words-wrapper b {
	opacity: 0;
  }
  
  .no-js .cd-words-wrapper b.is-visible {
	opacity: 1;
  }
  

  /*animação primeiro login*/
 
  
  .loader {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
  }
  
  .spinner {
  display: inline-block;
	width: 100px;
	height: 100px;
	border: 10px solid transparent;
	border-top: 10px solid #FFA500;
	border-radius: 50%;
	animation: spin 0.6s linear infinite;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
  
  #myImage {
	opacity: 0;
	transition: opacity 1s ease-in-out;
  }
  
  .visible {
	opacity: 1 !important;
  }
  
  .hidden {
	opacity: 0;
  }
 
  .card {
	border: none !important;
	border-radius: 10px !important;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
	transition: transform 0.2s !important;
  }

  /*
  .card:hover {
	transform: scale(1.05) !important;
  }*/
  
  .card-block {
	padding: 20px !important;
	position: relative !important;
	background: rgba(255, 255, 255, 0.9) !important;
	border-radius: 10px !important;
  }
  
  .card-success .card-block {
	background: rgba(58, 142, 56, 0.9) !important; /* Verde */
  }
  
  .card-danger .card-block {
	background: rgba(244, 129, 30, 0.9) !important; /* Laranja */
  }
  
  .card-info .card-block {
	background: rgba(58, 138, 173, 0.9) !important; /* Azul */
  }
  
  .card-warning .card-block {
	background: rgba(255, 193, 7, 0.9) !important; /* Amarelo */
  }
  
  .rotate {
	position: absolute !important;
	right: 15px !important;
	top: 15px !important;
	/*transform: rotate(45deg) !important;*/
  }
  
  .card i {
	font-size: 2.5rem !important;
	color: #1e2843fc !important;
	opacity: 0.7 !important;
  }
  
  h6 {
	font-size: 1rem !important;
	text-transform: uppercase !important;
	margin-top: 15px !important;
  }
  
  h1 {
 font-size: 3rem;
  margin-top: 5px;
  white-space: nowrap; /* Evita quebra de linha */
  overflow: hidden; /* Oculta o texto que não cabe na largura */
  animation: typing 2s, blink-caret .75s step-end infinite; /* Animação de digitação */

  }

  /* Animação de digitação */
@keyframes typing {
	from { width: 0; }
	to { width: 100%; }
  }
  
  /* Animação do cursor piscando */
  @keyframes blink-caret {
	from, to { border-color: transparent; }
	50% { border-color: orange; }
  }
  

  .navbar .navbar-brand-wrapper .navbar-brand img {
    width: calc(255px - 130px) !important;
    margin-top: 34px !important;
	height: 100px !important;
}


.sidebar {
  background: #ffffff !important;
	position: fixed !important;
  width: 110px !important;
}
.sidebar .nav .nav-item.active > .nav-link i {
    color: #f38834 !important;
}
.sidebar .nav .nav-item .nav-link .menu-title {
    color: inherit;
    display: inline-block;
    font-size: 1.05rem !important;
    line-height: 1;
    vertical-align: middle;
    font-weight: bold;
    color: white !important;
}
.content-wrapper {
    background: #f2f7f5 !important;
    padding: 1.875rem 1.875rem 0 1.875rem;
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
	margin-left: 255px;
}

.content-wrapper.efeito {
    background: #fbfbfb;
    padding: 1.875rem 1.875rem 0 1.875rem;
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
	margin-left: 69px;
}

.navbar-toggler:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow:  none !important;
}


/*administração de andaimes*/

/* Estilo da barra de rolagem - oculta para navegadores que suportam a propriedade WebKit (Chrome, Safari, etc.) */
.product-carousel::-webkit-scrollbar {
    width: 0.5em;
}

.product-carousel::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

/* Adicione este estilo para permitir rolar horizontalmente */
.product-carousel {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent; /* Barra de rolagem transparente */
    -webkit-overflow-scrolling: touch; /* Suporte ao estilo de rolagem do iOS */
}

.product {
    width: 200px; /* Largura desejada para cada produto */
    margin-right: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex-shrink: 0; /* Evita a redução de tamanho */
    cursor: grab; /* Cursor de mão para indicar que é possível arrastar */
    transition: transform 0.3s ease; /* Adiciona uma transição suave para a animação */
}

/* Adiciona um efeito visual durante o clique/drag do produto */
.product:active {
    cursor: grabbing;
}

.product img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.product h2 {
    padding: 10px;
    margin: 0;
    color: #333;
}

.product-attributes {
    list-style: none;
    padding: 0 10px;
}

.attribute-label {
    font-weight: bold;
    color: #ff9900 !important; /* Laranja */
}

.attribute-value {
	font-weight: bold;
    color: #74a573; /* Verde */
}

.product-actions {
    display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
    padding: 10px;
}

.action-icon {
    cursor: pointer;
    color: #333;
}

.card-footer {
    padding: 0.75rem 1.25rem !important;
    background-color: #ffff !important;
    border-top: none !important;
    border-radius: 8px !important;
	margin-top: -76px !important;
}
.stats i{
	font-size: 1.5rem !important;
    color: #3f433f !important;
    opacity: 0.7 !important;
    cursor: pointer;
}
#tabela{
	overflow-y: auto;
    max-height: calc(100vh - 360px);
    border: solid 1px #82b781;
    border-radius: 15px;
    padding: 5px;
}
.tabela2{
	overflow-y: auto;
    max-height: calc(100vh - 360px);
    padding: 5px;
}
.btn i {
    font-size: 1rem;
    color: #ff9900;
}

/*ICONES*/
#plus{
	color: #198754 !important;
	font-size: 2em; /* Defina o tamanho inicial do ícone */
	transition: transform 0.3s ease; /* Adiciona uma transição suave */
	cursor: pointer;
}
#plus.efeito{
	color: #535353 !important;
	font-size: 2em; /* Defina o tamanho inicial do ícone */
	transition: transform 0.3s ease; /* Adiciona uma transição suave */
	cursor: pointer;
}

.blinking {
	animation: blink 1.0s infinite alternate;
  }

  @keyframes blink {
	0% {
	  color: gray;
	}
	100% {
	  color: #ff9900;
	}
  }


.input-with-icon {
position: relative;
display: inline-block;
}

.input-with-icon input {
	padding-right: 30px;
    width: 100%;
    margin-left: 3px;
    border-radius: 5px;
	text-align: center
}

.input-with-icon i {
	position: absolute;
	top: 50%;
	left: 5px; /* Ajuste conforme necessário para posicionar o ícone */
	transform: translateY(-50%);
	cursor: pointer;
}
.input-with-icon:hover,
.input-with-icon:active {
	transform: scale(1.1); 
	transition: 0.5s;
	width: 100%;
    border-radius:3px;
	border: solid;
	position: relative;
	display: inline-block;
  }
  #addandaime{
	margin-top: -18px; position: absolute; background-color: white;  width: 100%;    margin-left: -22px;
	transition: 1s; z-index: -1;;
  }
  #addandaime.efeito{
	margin-top: 18px; position: absolute; background-color: white;  width: 100%;    margin-left: -22px; z-index: 1;
	
  }

#imgandaime img{
    width: 300px;
    height: 200px;
    border-radius: 4px;
    box-shadow: -1px 0px 1px 0 rgb(181 193 181), 1px 1px 9px 0 rgb(59 55 52);
    position: relative;
    margin-top: -80px;
}
.andaimegeral{
	margin-top: 100px !important;
	margin-bottom: 20px;
}
.card2{
	position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    height: 300px;
    width: 333px;
}
.card2 {
	border: none !important;
	border-radius: 10px !important;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
	transition: transform 0.2s !important;
  }



.card .card-actions {
    position: absolute;
    z-index: 1;
    top: -50px;
    width: calc(100% - 30px);
    left: 17px;
    right: 17px;
    text-align: center;
}
.btn .material-icons, .btn:not(.btn-just-icon):not(.btn-fab) .fa {
    position: relative;
    display: inline-block;
    top: 0;
    margin-top: -1em;
    margin-bottom: -1em;
    font-size: 1.1rem;
    vertical-align: middle;
}


/*MENUS ADMIN ANDAIMES ABAS */

/* Geral */

  .content {
	margin: 30px;
  }
  .clearfix:after {
	content: '.';
	height: 0;
	font-size: 0;
	line-height: 0;
	display: block;
	clear: both;
	overflow: hidden;
	visibility: hidden;
  }
  
  /* Abas */
  .tabs-content {
	background: #eee;
	font-family: sans-serif;
  }
  
  /* Menu das abas */
  .tabs-menu {
	background: transparent;
  }
  .tabs-menu ul {
	 list-style: none;
  }
  .tabs-menu ul li {
	float: left;
  }
  .tabs-menu ul li a {
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	color: #62856c;
  }
  .tabs-menu ul li a.active-tab-menu {
	background: #eee;
	color: #000;
  }
  
  /* Conteúdo das abas */
  .tabs {
	display: none;
	padding: 30px;
  }
  .first-tab {
	display: block;
  }
  .tags {
	display: inline-block;
	justify-content: space-between;
  }


.btn-group-vertical>.btn, .btn-group>.btn-relatorios {
background-color: transparent;
color: #211818;
border-color: #f4821e;
}

.tags>.btn-outline-success{
	border-radius: 28px !important;
}

/*NOVA VISAO DE DADOS*/


body {
	background-color: #F1F4F5;
}

.card-header {
	padding: 0.2rem 1.25rem;
	/* margin-bottom: 0; */
	background-color: #ffffff;
	border-bottom: 0px;
}

.card-body {
	padding: 0rem 1.25rem;
}

p {
	margin-top: 0;
	margin-bottom: 10px;
}

.card {
	border-radius: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.flex-wrap {
	margin-bottom: -35px;
}

div.dataTables_wrapper div.dataTables_paginate {
	margin-top: -25px;
}

.page-item.active .page-link {
	z-index: 1;
	color: #fff;
	background-color: #5D78FF;
	border-color: #5D78FF;
}


#listarandaime::-webkit-scrollbar {
    width: 1px;
	height: 10px; /* Largura da barra de rolagem */
}

#listarandaime::-webkit-scrollbar-thumb {
    background-color: #f4821e; /* Cor do indicador da barra de rolagem */
    border-radius: 2px; /* Raio das bordas do indicador */
}

#listarandaime::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor de fundo da barra de rolagem */
}
#listarandaimes{
	background-color: green;
}

.navbar .navbar-menu-wrapper {
    -webkit-transition: width 0.25s ease !important;
    -moz-transition: width 0.25s ease !important;
    -ms-transition: width 0.25s ease !important;
    color: #000000 !important;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
    height: 64px !important;
    background-color: #ffffff !important;
}


#custom-search-form {
	margin:0;
	margin-top: 5px;
	padding: 0;
}

#custom-search-form .search-query {
	padding-right: 3px;
	padding-right: 4px \9;
	padding-left: 3px;
	padding-left: 4px \9;
	/* IE7-8 doesn't have border-radius, so don't indent the padding */

	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: width  0.2s ease-in-out;
-moz-transition:width  0.2s ease-in-out;
-o-transition: width  0.2s ease-in-out;
transition: width  0.2s ease-in-out;
}

#custom-search-form button {
	border: 0;
	background: none;
	/** belows styles are working good */
	padding: 2px 5px;
	margin-top: 2px;
	position: relative;
	left: -28px;
	/* IE7-8 doesn't have border-radius, so don't indent the padding */
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.search-query:focus + button {
	z-index: 3;   
}   
.search-query:focus{
	width: 260px;
}   

#custom-search-form input {
    border-radius: 10px !important;
    height: 35px;
    width: 280px;
	background-color: #ffffff42;
    border: solid 1px #a9cdaf;
}

.sidebar .nav .nav-item .nav-link i.menu-icon {
  font-size: 1.7rem !important;
  line-height: 1 !important;
  margin-right: 1.125rem !important;
  color: #555555 !important;
}


.fa-search:before {
    content: "\f002";
    margin-top: -24px;
    background-color: #62856c;
    padding: 9px;
    border-radius: 21px;
    border: none;
    color: #fbfbfb;
    position: absolute;
    margin-left: -5px;
}

.fa-bell-o:before {
	margin-top: -20px;
    background-color: #62856c;
    padding: 11px;
    border-radius: 21px;
    border: none;
    color: #fbfbfb;
    position: absolute;
    margin-left: 7px;
}

.input-append span{
	margin-left: 18px;
    background-color: #f4821e;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    margin-top: -8px;
}

.buttomcockpit{
	border-radius: 10px;
    border: none;
    background-color: #62856c;
    padding: 6px;
    color: white;
}


/* ABAIXO CARD DO PAINEL */

.image-grid-cover {
    width: 100%;
    background-size: cover;
    min-height: 180px;
    position: relative;
    margin-bottom: 30px;
    text-shadow: rgba(0,0,0,.8) 0 1px 0;
    border-radius: 4px;
}
.image-grid-clickbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: rgba(0,0,0,.45);
}
.cover-wrapper {
    font-size: 18px;
    text-align: center;
    display: block;
    color: #fff;
    text-shadow: rgba(0,0,0,.8) 0 1px 0;
    z-index: 21;
    position: relative;
    top: 80px;
}
a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}


/*COCKPIT*/

#iconescockpit i{
	font-size: 30px;
    color: #62856c;
}


.icone {
	display: inline-block;
  }
  
  .icone i {
	font-size: 24px; /* Ajuste conforme necessário */
	cursor: pointer;
  }
  
  .shake {
	animation: shake 0.8s ease-in-out; /* Adiciona a animação shake */
	color: #f4821e !important;
  }
  
  @keyframes shake {
	0% { transform: translateX(0); }
	25% { transform: translateX(-5px); }
	50% { transform: translateX(5px); }
	75% { transform: translateX(-3px); }
	100% { transform: translateX(3px); }
  }
  

  
  .image-grid-cover:hover {
	transform: scale(1.03); /* Aplica um zoom de 10% na imagem ao passar o mouse */
	transition: 1s;
  }
  


/*ABAIXO GRÁFICOS DO RELATÓRIO DE FATURAMENTO*/
  
.notification_dropdown .dropdown-menu-right .all-notification {
  border-color: #2B2B2B; }

#user-activity .nav-tabs .nav-link {
  border-color: #2B2B2B; }
  #user-activity .nav-tabs .nav-link.active {
    background: #161717;
    color: #fff; }

    .chartjs-size-monitor, .chartjs-size-monitor-expand, .chartjs-size-monitor-shrink {
      position: absolute;
      direction: ltr;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      pointer-events: none;
      visibility: hidden;
      z-index: -1;
  }

  
.activityChart .apexcharts-series rect {
  preencher: #161717; }

.activityChart tspan {
  preencha: #fff; }

  
.activityChart .apexcharts-series rect {
  preencher: #161717; }

.activityChart tspan {
  preencha: #fff; }

  .authincation-content {
    background: #00000096 !important;
    box-shadow: 0 0 2.1875rem 0 #453227 !important;
    border-radius: 0.3125rem !important;
}

